# Lists and its default functions

In [1]:
lis = [1,2,3,"Hello", ["Hi", "Hello World"]]

In [2]:
lis

[1, 2, 3, 'Hello', ['Hi', 'Hello World']]

In [5]:
lis.count("Hello")

1

In [7]:
lis.reverse()

In [8]:
lis

[['Hi', 'Hello World'], 'Hello', 3, 2, 1]

In [9]:
lis.index("Hello")

1

In [10]:
lis1 = [1,2,3]

In [13]:
min(lis1)

1

In [14]:
max(lis1)

3

# Sets and its function

In [15]:
set1 = {1,1,1,2,3,4,5,6,7}

In [16]:
set2 = {1,2,3,3,3,3,3}

In [17]:
set1.issuperset(set2)

True

In [18]:
set2.issubset(set1)

True

In [19]:
set1

{1, 2, 3, 4, 5, 6, 7}

In [20]:
set1.pop()

1

In [21]:
set1

{2, 3, 4, 5, 6, 7}

In [22]:
set1.symmetric_difference(set2)

{1, 4, 5, 6, 7}

In [23]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7}

# Tuple and its function

In [24]:
t = ( 7,8,9,10,11)

In [25]:
max(t)

11

In [26]:
min(t)

7

In [32]:
t1 = ("hi","hello")

In [33]:
tt=t+t1

In [34]:
tt

(7, 8, 9, 10, 11, 'hi', 'hello')

In [35]:
10 in tt

True

In [36]:
len(tt)

7

In [38]:
t1[0:]

('hi', 'hello')

# Dictionary and its default functions

In [40]:
dic = {"key1": 1 , "key2": 2 , "key3":{3:100}}

In [42]:
dic["key2"]

2

In [43]:
dic.pop("key2")

2

In [44]:
dic

{'key1': 1, 'key3': {3: 100}}

In [47]:
"key1" not in dic

False

In [48]:
all(dic)

True

In [49]:
len(dic)

2

In [52]:
dic.values()

dict_values([1, {3: 100}])

In [53]:
dic.keys()

dict_keys(['key1', 'key3'])

# String and its default functions

In [54]:
s = "abcdefgh"

In [55]:
s

'abcdefgh'

In [56]:
s[:2]

'ab'

In [57]:
s[::-1]

'hgfedcba'

In [58]:
s.upper()

'ABCDEFGH'

In [62]:
s1 = "hello world"

In [63]:
s1.split()

['hello', 'world']

In [64]:
len(s1)

11